<!DOCTYPE html>
<html>
<head>
  <title>Template</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  		<div class="navbar-inner">
      <a class="brand" href="/examples"><i class="icon-eject"></i></a>
			<ul class="nav">
          <% @examples =  @examples = Example.all%>

          <% @examples.each do |example| %>


            <li><%= link_to example.title, :controller => "examples", :action => "show", :id => example.id %></li>
          <% end %>
    		</ul>
  		</div>
	</div>
<%= yield %>

</body>
</html>
